@font-face {
    font-family: dracula;
    src: url('dracula.TTF');
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

body{
    background-color: #120e0f;
}


.text{
    /*Usando em porgentagem para facilitar*/
    width: 100%;
    color: #dbd2ce;
}

/*Class header padroes*/
.header{
    width: 100%;
    margin: auto;
    background-color: #0e090d;
    border-bottom: 3px solid #beb0a5;
}

/*Classe links padroes*/
.links{
    background-color: #0e090d;
    width: 100%;
    padding-left: 0px;
    text-align: center;
    
}

/*Trabalhando com o tamanho da class text1*/
.text1{
    width: 37%;
    margin-top: 75px;
    margin-left: 20px;
}

/*Trabalhando com o tamanho da class imagem1*/
.imagem1{
    width: 24%; 
    margin-top: 125px;

    /*text-align: center;*/

    text-align: end;

    background-color: #751113;
    border-radius: 50%;
}

/*Trabalhando com o tamanho da class text2*/
.text2{
    width: 37%;
    margin-top: 375px;
}

.footer{
    background-color: #0e090d;
    text-align: center;
    margin-top: 65px;
}

/*Conceitos em comun das tres class*/
.text1, .imagem1, .text2{
    display: inline-block;
    vertical-align: top;
}


/*======================TAGS========================*/

/*Titulo h1 da class header*/
.header h1{
    /*Configurações da font*/
    font-family: 'dracula';
    color: #751113;
    font-size: 90px;

    text-align: center;
}

/*link a da class links*/
.links a{
    font-family: 'dracula';

    color: #beb0a5;
    font-size: 24px;
    text-decoration: none;
    padding: 1px 20px;

    border-radius: 7%;
}

/*Mudar cor da tag a quando colocar o mouse em cima*/
.links a:hover{
    color: #751113;
    background-color: #beb0a5;
}

/*Trabalhando com a tag img dentro da class imagem1*/
.imagem1 img{
    width: 97%;
    /*margin-top: 1.5%;*/
}

/*Arrumando a font size dos textos*/
.text1 p, .text2 p{
    font-size: 19px;
}

.text1 p{
    text-align: left;
}

.text2 p{
    text-align: end;
}

/*link a da class links*/
.footer a{
    font-family: 'dracula';
    color: #beb0a5;
    font-size: 24px;
    text-decoration: none;
    padding: 0px 20px;

    border-radius: 7%;
}

/*Mudar cor da tag a quando colocar o mouse em cima*/
.footer a:hover{
    color: #751113;
    background-color: #beb0a5;
}
