@font-face {
    font-family: dracula;
    src: url('dracula.TTF');
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
}

body{
    background-color: #120e0f;
}


.text{
    /*Usando em porgentagem para facilitar*/
    width: 100%;
    color: #dbd2ce;
    
}

/*Class header padroes*/
.header{
    width: 100%;
    margin: auto;
    background-color: #0e090d;
    border-bottom: 3px solid #beb0a5;
}

/*Classe links padroes*/
.links{
    background-color: #0e090d;
    width: 100%;
    padding-left: 0px;
    text-align: center;
}



/*Trabalhando com o tamanho da class imagem1*/
.imagem1{
    width: 440px; 
}   

/*Conceitos em comun das tres class*/
.text1, .imagem1, .text2{
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    margin-top: 10px;
}

/*Trabalhando com o tamanho da class text2*/
.text2{
    width: 640px;
    margin-left: 300px;
    margin-top: 65px;
}

/*Trabalhando com o tamanho da class text1*/
.text1{
    margin-top: 65px;
    width: 640px;
    margin-left: 80px;
    margin-right: 470px;
}
/*======================TAGS========================*/

/*Titulo h1 da class header*/
.header h1{
    /*Configurações da font*/
    font-family: 'dracula';
    color: #751113;
    font-size: 90px;

    text-align: center;
}

/*link a da class links*/
.links a{
    color: #beb0a5;
    font-size: 24px;
    text-decoration: none;
    padding: 0px 20px;
}

/*Trabalhando com a tag img dentro da class imagem1*/
.imagem1 img{
    width: 440px;
    height: 630px;
}

.text1 p{
    font-size: 20px;
    text-align: left;
}


.text2 p{
    font-size: 20px;
    text-align: right;
}

.text h1{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}